fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
requests
urllib3
python-dotenv
langchain
langchain-groq
langchain-core
playwright
curl-cffi
celery
redis
kombu
jinja2
python-multipart

